.pessoa__imagem {
    border-radius: 100%;
    height: 300px;
    margin: 0 auto;
    width: 300px;
}

.pessoa__imagem--roberta {
    background: url(../../img/pessoas/roberta.jpg) center / cover no-repeat;
}

.pessoa__imagem--marcela {
    background: url(../../img/pessoas/marcela.jpg) center / cover no-repeat;
}

.pessoa__imagem--andreia {
    background: url(../../img/pessoas/andreia.jpg) center / cover no-repeat;
}